
.containerFilter {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.containerFilter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.containerFilter > div > div {
    display: flex;
    gap: 1rem;
}
.containerFilter h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.containerFilter input {
    font-size: 1.2rem;
    border-radius: 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid;
}