.content {
    display: flex;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
    background: rgb(239,255,171);
    background: linear-gradient(132deg, rgba(239,255,171,0.835171568627451) 0%, rgba(184,252,211,0.87718837535014) 23%, rgba(122,248,255,0.5046393557422969) 45%, rgba(255,255,255,1) 75%);
}

.titulo {
    font-size: 3.5rem;
    color: #3C2317;
}

.imagendefondo {
    height: auto;
    max-width: 100%;
}

.contentRight{
    width: 50%;
}

.contentLeft{
    width: 50%;
    text-align: center;
    line-height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
    max-width: 50%;
    padding: 1rem 0;
    align-items: center;
}

.button{
  align-items: center;
  appearance: none;
  background-color: #00a4ff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.socialMedia img{
    border-radius: 50%;
    height: 50px;
}